.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10rem;
    gap: 1rem;
}

.element  {
    width: 1.5rem;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.control-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}

.select {
    height: 3rem;
    outline: none;
    border-radius: 5px;
    padding: 0 1rem;
}

.button {
    height: 3rem;
    width: 10rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #262938;
}

.button:disabled {
    cursor: not-allowed;
}

.text {
    margin-top: 3rem;
    color: red;
    text-align: center;
    font-size: 1.4rem;
}